@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.everything{
    display: flex;
    justify-content: center;
}




.mealImage{
    width: 30vw;
    height: auto;
}

.mealName{
    font-weight: 200;
}

h6{
    font-weight: 200;
}


.mealTitle{
    font-family: 'Bowlby One', cursive;
    font-size: 2vw;
    letter-spacing: .1vw;
    color: rgba(0,0,0,.95);
    background-color: white;
    width: 70vw;
    padding: 2vw ;
    align-self: center;
}

.test{
    margin: 1vw;
    display: inline;
    flex-wrap: wrap;
}

.imgAndIngredients{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 3vw;
    width: 70vw;
    padding: 4vw 0;
}

.measurements{
    font-family: 'Source Sans Pro', sans-serif;
    width: 30vw;
  
}

.ingredient{
    padding: 0 0 1vw 2vw
}

.ingredientTitle{
    padding: 0 0 1vw 2vw;
    font-family: 'Bowlby One', cursive;
    font-weight: 100;
    font-size: 1.5vw;
    letter-spacing: .1vw;
    color: rgba(0,0,0,.95);
}

.instructionTitle{
    position:absolute;
    margin: 20vw;
}

.instructions{
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 3vw;
    width: 70vw;
    line-height: 150% ;
    margin-left: 3vw;
    border-top: .1vw solid #d54215;
    padding: 2vw;
    display: flex;
    margin-bottom: 1vw;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.mealTitle{
    margin-left: 3vw;
    border-bottom: .1vw solid #d54215;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ulContainer{
    width: 100%;
    justify-content: center;
    padding: 0 8vw;
}

li{
    list-style-type: none;
    font-size: 2vw;
    }

    

.categoryList{
    width: 30%;
}

.categoryList a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 0px 0px 9px rgba(0,0,0,0.09);
}

.categoryName:hover{
    color: #d54215

}

.categoryName{
    margin-top: .6vw;
    text-align: center;
    border-radius: 5px;

}

